@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Reset / Normalize */
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

:root {
    font-family: 'fira_sansregular', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

html {
    font-size: max(16px, 1rem);
    line-height: 1.6;
}

html, dialog {
    background-color: rgb(44, 42, 42);
    color: white;
}

button, label, input,
option, select {
    font:inherit;
}

.todo-checklist .completed {
    opacity: 0.5;
    pointer-events: none;
    text-decoration: line-through;
}