@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Reset / Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
}

:root {
    font-family: 'fira_sansregular', 
    system-ui, 
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    Roboto, 
    Oxygen, 
    Ubuntu, 
    Cantarell, 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;
}

html {
    font-size: max(16px, 1rem);
    line-height: 1.6;
}

html, dialog {
    background-color: rgb(44, 42, 42);
    color: white;
}

button, label, input,
option, select, textarea {
    font:inherit;
    font-size: 100%;
    width: 150px;
}

/* the completed class is assigned to elements to represent
    a 'crossed' out and non-interactable element.
*/
.todo-checklist .completed {
    opacity: 0.5;
    pointer-events: none;
    text-decoration: line-through;
}

/* Dedicated button styling */
button {
    margin: 0;
    padding: 0;
}

button {
    color: whitesmoke;
    background-color: rgba(178, 243, 192, 0.797);
    border: none;
    border-radius: 5%;
}