@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Reset / Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
}

:root {
    font-family: 'fira_sansregular', 
    system-ui, 
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    Roboto, 
    Oxygen, 
    Ubuntu, 
    Cantarell, 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;

    --light-mint-green: rgba(83, 203, 139, 0.893);
    --button-red: rgb(169,41,27);
    --dark-gray: rgb(24,26,27);
    --dark-brown: rgb(40,28,17);
    --light-beige: rgb(212,208,202);
}

html {
    font-size: max(16px, 1rem);
    line-height: 1.6;
}

html, dialog {
    background-color: var(--dark-gray);
    color: var(--light-beige);
}

button, label, input,
option, select, textarea {
    font:inherit;
    font-size: 100%;
    width: 150px;
}

/* general grid layout */
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "sidebar main-content";
}

.side-bar {
    grid-area: sidebar;
}

.content-view {
    grid-area: main-content;
}


/* the completed class is assigned to elements to represent
    a 'crossed' out and non-interactable element.
*/
.todo-checklist .completed {
    opacity: 0.5;
    pointer-events: none;
    text-decoration: line-through;
}

/* This ID is applied to the currently selected filter tab */
button .current-tab {
    background-color: var(--button-red);
}

/* Dedicated button styling */
button {
    border: none;
    border-radius: 10px;

    padding: 0.2rem;
    margin: 0.2rem;

    filter: brightness(1);
    transition: 0.2s ease;

    color: inherit;
}

button:hover, button:focus-visible {
    filter: brightness(1.15);
    transition: 0.2s;
    cursor: pointer;
}

button:active {
    filter: brightness(0.5);
    transition: 0.2s;
}

/* Sidebar styling */
.side-bar {
    background-color: var(--dark-brown);

    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    padding: 0 0.8rem;
}

.side-bar nav {
    button {
        width: 100%;
        text-align: left;
        background: transparent;
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(93, 75, 75);
    }
}